body {
  background-color: #333; color: #EEE;
  font-family: 'Gill Sans', Helvetica, Arial, sans-serif;
  padding: 20px;
}

p {
  margin-bottom: 20px;
}

a {
  color: #BBB; text-decoration: none;
}

.breadcrumb, .nav {
  font-size: 20px;
}

.colours p, .examples p {
  text-align: center;
  font-size: 30px; padding: 20px; margin-bottom: 20px;
}

.colours span, .examples span {
  margin: 0 10px;
}

.shapes svg {
  margin: 0 auto;
  display: block;
}

.shapes .rectangle {
  fill: #009F6B;
  stroke: #CCC;
}

.time {
  font-size: 150px;
  text-align: center;
}

#animation {
  width: 100%;
}

.sun {
  fill: #DDD;
}

.ring {
  fill: #666;
}

.planet1 {
  fill: #C40233;
}

.planet2 {
  fill: #FFD300;
}

.planet3 {
  fill: #0087BD;
}